body
{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #444;
}

*
{
	margin: 0;
	padding: 0;
}


p
{
	line-height: 1.9em;
	margin-bottom: 20px;
}

a
{
	color: #1962A5;
}

a:hover
{
	color: #FA297D;
}

a:focus
{
	outline: none;
}

fieldset
{
	display: block;
	border: none;
	border-top: 1px solid #ddd;
}

fieldset legend
{
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
	color: #999;
}

fieldset form
{
	padding-top: 15px;
}

fieldset p label
{
	float: left;
	width: 150px;
}

form input, form select, form textarea
{
	padding: 5px;
	color: #333333;
	border: 1px solid #999;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #ccc;
	color: #333;
}

form #leftMailbox input.formbutton
{
	width: 110px;
}

form #leftUsers input.formbutton
{
	width: 180px;
}

form input.formbutton
{
	border: none;
	background: #0B519A;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
}

form.searchform p
{
	margin: 5px 0;
}


span.required
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ff0000;
}

h1
{
	color: #ccc;
	font-size: 35px;
}

h2
{
	color: #3f84b4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	letter-spacing: 0.5px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
}

h3
{
	color: #0B519A;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}


h4
{
	padding-bottom: 10px;
	font-size: 15px;
	color: #999;
}

h4 span span
{
	color: Black;
	padding-bottom: 10px;
	font-size: 13px;
	font-weight: normal;
}

h5
{
	padding-bottom: 10px;
	font-size: 13px;
	color: #999;
}

ul, ol
{
	margin: 0 0 35px 35px;
}

li
{
	padding-bottom: 5px;
}

li ol, li ul
{
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}


#container
{
	background: transparent url(  'images/corebg.png' ) no-repeat scroll 0 139px;
}

#outer-container
{
	background: transparent url(  'images/mainbg.png' ) repeat-y scroll 0 0;
	width: 980px;
	margin: 0 auto;
	padding: 0;
}
#header
{
	padding: 0 15px;
	margin: 0 auto;
	height: 145px;
	background: transparent url(  'images/headerbg.png' ) repeat-x scroll 0 0;
}

#header h1
{
	padding-top: 20px;
	text-align: center;
}

#header h1 a
{
	font-family: Georgia, "Times New Roman" , Times, serif;
	color: #fff;
	font-size: 68px;
	font-weight: normal;
	text-decoration: none;
	letter-spacing: -5px;
	text-align: center;
}

#center-ul
{
	float: left;
	left: 50%;
	position: relative;
}

#nav
{
	background: transparent none repeat-x scroll top left;
	height: 59px;
	width: 950px;
	margin: 8px 15px;
	display: block;
}

#nav ul
{
	list-style: none;
	padding: 0 10px;
	margin: 0;
	position: relative;
	left: -82.5%;
}

#nav ul li
{
	float: left;
	display: block;
	padding: 0;
	position: relative;
}

#nav ul li a
{
	color: #fff;
	display: block;
	font-size: 14px;
	padding: 22px 20px 21px;
	text-decoration: none;
}

#nav ul li a:hover
{
	background: #609BC8 url(  'images/navbg.png' ) repeat-x;
}

#body
{
	background: #fff;
	padding: 0;
	margin: 25px;
	width: 930px;
}

#content
{
	float: left;
	width: 620px;
	margin: 0;
}

.sidebar
{
	padding: 0;
}


.sidebar ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li
{
	margin-bottom: 20px;
	line-height: 1.9em;
}

.sidebar li ul
{
	background: #ddd;
}

.sidebar li ul li
{
	display: block;
	border-top: none;
	padding: 6px 7px;
	margin: 0;
	line-height: 1.5em;
	font-size: 13px;
	color: #333;
}

.sidebar li ul li a
{
	font-weight: normal;
	color: #333;
}

.sidebar li ul.blocklist li
{
	padding: 0;
	display: inline;
}

.sidebar li ul.blocklist li a
{
	display: block;
	padding: 9px 8px;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	font-size: 12px;
	font-weight: bold;
}

.sidebar li ul.blocklist li a:hover
{
	color: #000;
}

.sidebar li ul li a:hover
{
	color: #0B519A;
}

.sidebar h4
{
	color: #eee;
	font-family: Arial, Helvetica, sans-serif;
	background: #333333 url(  '../../images/h4-bg2.png' ) repeat-x scroll left bottom;
	font-size: 12px;
	letter-spacing: 0;
	text-transform: uppercase;
	margin: 0;
	padding: 5px 10px;
	font-weight: bold;
}

.clear
{
	clear: both;
}

#footer
{
	width: 960px;
	margin: 0 auto;
}

.footer-content
{
	background: transparent url(images/headerbg.png) repeat-x scroll 0 0;
	padding: 20px 5px;
}

#footer p
{
	text-align: center;
	color: #eee;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#footer p a
{
	color: #fff;
	font-weight: bold;
}

.date
{
	text-decoration: blink;
	color: Gray;
}
.block_text
{
	border: 1px solid #b5b5b5;
	padding: 5px 5px 1px 5px;
	margin-bottom: 13px;
	margin-left: 5px;
	border-color: #a6c9e2;
}

#mailbox.block_text
{
	height: 500px;
}

#divUsers.block_text
{
	height: 325px;
}

hr
{
	border-color: #a6c9e2;
}
#div_boudarySignupForm.block_text
{
	height: 500px;
}
#tabs.block_text
{
	height: 300px;
}
#ExamLesson.block_text, #ItLesson.block_text, #EnglishLesson.block_text
{
	height: 300px;
}

.block_details
{
	float: left;
	width: 130px;
	margin-left: 3px;
	padding-top: 10px;
	text-align: center;
}
div.block_details_img
{
	width: 60px;
	height: 60px;
	padding-left: 30px;
}
div.block_details_title
{
	color: Black;
	font-size: 12px;
	text-align: center;
}
div.block_details_text
{
	color: Green;
	font-size: 10px;
}



/*Contact */
.form_settings
{
	margin: 15px 0 0 0;
}

#addNews
{
	margin: 15px 0 0 0;
	height: 450px;
}

.form_settings p
{
	padding: 0 0 4px 0;
}


.form_settings #checkbox span
{
	float: left;
	width: 500px;
	text-align: left;
}
.form_settings span
{
	float: left;
	width: 200px;
	text-align: left;
}

.form_settings #to, #titleHeader span
{
	width: 100px;
}

.form_settings input, .form_settings textarea
{
	padding: 5px;
	width: 299px;
	font: 100% arial;
	border: 1px solid #E5E5DB;
	background: #FFF;
	color: #47433F;
}

.form_settings #titleHeader input, .form_settings #titleHeader input
{
	width: 600px;
}

.form_settings #to input, .form_settings #to input
{
	width: 600px;
}

.form_settings #composeContent textarea, .form_settings #composeContent select
{
	font: 100% arial;
	width: 700px;
}

.form_settings #titleHeader textarea
{
	font: 100% arial;
	width: 600px;
}

.form_settings .submit
{
	font: 100% arial;
	border: 1px solid;
	width: 99px;
	margin: 0 0 0 212px;
	height: 33px;
	padding: 2px 0 3px 0;
	cursor: pointer;
	background: #0b519a;
	color: #FFF;
}

.form_settings #checkbox input, .form_settings #checkbox textarea
{
    width: 30px;
    border: white;
    margin-left: 190px;
}

.form_settings textarea, .form_settings select
{
	font: 100% arial;
	width: 299px;
}

.form_settings select
{
	width: 310px;
}

.form_settings .checkbox
{
	margin: 4px 0;
	padding: 0;
	width: 14px;
	border: 0;
	background: none;
}

#EnglishLesson a, #ItLesson a, #ExamLesson a, #other_news a
{
	color: #1962A5;
}
#EnglishLesson a:hover, #ItLesson a:hover, #ExamLesson a:hover, #other_news a:hover
{
	color: #FA297D;
}
.block_text a
{
	color: #1962A5;
}
.block_text a:hover
{
	color: #FA297D;
}

.table
{
	border: solid 1px #444444;
}
.table-header
{
	font-family: "Trebuchet MS";
	font-size: 9pt;
	background-color: #0099B9;
	color: white;
	border: solid 1px #444444;
}
.table-header-cell
{
	font-family: "Georgia";
	font-size: 9pt;
	font-weight: bold;
	border: solid 1px #666666;
	padding: 6px;
}
.table-cell
{
	font-family: "Georgia";
	font-size: 9pt;
	width: 300px;
	border: solid 1px #666666;
	padding: 6px;
}
.table-footer
{
	border: solid 1px #666666;
	padding: 3px;
	width: 50%;
}
.datetime
{
	float: right;
	color: #666666;
}