<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.LTDHConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Career\ducnghia\Source\App_Data\LTDH.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>